.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.guitar-name {
  border: red dotted 1px;
  border-radius: 5px;
  margin: 5px;
}

.amp-item img {
  width: 200px;
}

.amp-item {
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
  padding: 20px;
  margin: 10px;
}

.amp-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}